<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Shopping List</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home')}}">Shopping List</a>
            <!--If user is logged in-->
            {% if session.get('user_id') %}
                <a href="{{ url_for('my_lists') }}">My Lists</a>
                <a href="{{ url_for('item_dictionary') }}">Items</a>
                <a>Help</a>
                <span style="color: var(--primary-colour);">Logged in as: <strong>{{ session.get('username') }}</strong></span>
                <a href="{{ url_for('logout') }}" style="color: var(--delete-colour);">Logout</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('signup') }}">Sign Up</a>
            {% endif %}
        </nav>
    </header>
    <main class="content-container">
        {% block body %}
        {% endblock %}
    </main>
</body>
</html>