{% extends "index.html" %}
{% block body %}
<!-- Link to My Lists Page -->
<p><a href="{{ url_for('my_lists') }}" style="text-decoration: none; font-weight: bold;">Back to My Lists</a></p>
<!-- Current List Name -->
<h1>{{ current_list.list_name }}</h1>
{% if list %}
<form action="{{ url_for('list_route', list_id=list_id) }}" method="post" id="checkbox-form">
<table>
    <!-- Header of Table -->
    <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Categorisation</th>
        <th>tick</th>
        <th></th>
    </tr>
    <!-- Displays all Items in the List -->
    {% for item in list %}
    <tr class="{% if item.ticked == 1 %}ticked-row{% endif %}">
        <td>{{ item.item_name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.categorisation }}</td>
        <td>
            <!-- Auto-submit on click checkboxs -->
            <input name="ticked_items" type="checkbox" value="{{ item.item_id }}" {% if item.ticked == 1 %}checked{% endif %} onchange="document.getElementById('checkbox-form').submit();">
        </td>
        <!-- Delete button -->
        <td>
            <input type="submit" value="DELETE" form="delete-form-{{ item.item_id }}">
        </td>
    </tr>
    {% endfor %}
</table>
</form>
<!-- If there is nothing in the list displays a user friendly message -->
{% else %}
<div class="card empty">
    <p>This list is currently empty. Add one to get started!</p>
</div>
{% endif %}
    <!-- Adding New items Form -->
<div class="card" id="add-items">
    <h3>Add Item to List</h3>
    <form action="{{ url_for('list_route', list_id=list_id) }}" method="post">
        <!-- Item Name -->
        <label for="item_name">Item Name</label><br>
        <input name="item_name" list="food"><br>
        <p class="guidelines">Maximum 32 characters.</p>
        <datalist id="food">
        <option value="Apple"></option>
        <option value="Pineapple"></option>
        </datalist>
        <!-- Quantity -->
        <label for="quantity">Quantity</label><br>
        <input type="number" name="quantity" value="1"><br>
        <p class="guidelines">Enter an amount between 1 and 999.</p>
        <!-- Item Categorisation -->
        <label for="item_categorisation">Categorisation</label><br>
        <input list="food-type" name="categorisation" id="item_categorisation"><br>
        <p class="guidelines">Maximum 32 characters.</p>
        <datalist id="food-type">
        <option value="Fruit"></option>
        <option value="Dairy"></option>
        </datalist>
        <!-- Error Message -->
        {% if error %}
        <p class="error-text">{{ error }}</p>
        {% endif %}
        <!-- Submit Button -->
        <input type="submit" value="save">
    </form>
</div>
<!-- Isolated Delete Item from List Form -->
{% for item in list %}
<form id="delete-form-{{ item.item_id }}" method="post" action="{{ url_for('unified_delete', target_type='item', list_id=list_id, item_id=item.item_id) }}" onsubmit="return confirm('Remove {{ item.item_name }} from list')"></form>
{% endfor %}
{% endblock  %}