{% extends "index.html" %}
{% block body %}
<h1>{{ current_list.list_name }}</h1>
<form action="{{ url_for('list_route', list_id=list_id) }}" method="post">
<table>
    <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Catergorisation</th>
        <th>tick</th>
        <th></th>
    </tr>
    {% for item in list %}
    <tr>
        <td>{{ item.item_name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.catergorisation }}</td>
        <td>
            <input name="ticked_items" type="checkbox" value="{{ item.item_id }}" {% if item.ticked == 1 %}checked{% endif %}>
        </td>
        <!--Delete button-->
        <td>
            <input type="submit" value="DELETE" form="delete-form-{{ item.item_id }}">
        </td>
    </tr>
    {% endfor %}
    <!--Adding New items Row-->
    <tr>
        <td>
            <input name="item_name" list="food">
            <datalist id="food">
            <option value="apple"></option>
            <option value="pineapple"></option>
        </td>
        <td><input type="number" name="quantity" min="1" max="999" value="1"></td>
        <td>
            <input list="food-type" name="catergorisation">
            <datalist id="food-type">
            <option value="fruit">
            <option value="dairy">
        </td>
        <td><input type="checkbox" disabled></td>
        <td></td>
    </tr>
</table>
<!--Submit Button-->
<input type="submit" value="save">
</form>
<!--Isolated Delete Item from List Form-->
{% for item in list %}
<form id="delete-form-{{ item.item_id }}" method="post" action="{{ url_for('delete_item', list_id=list_id, item_id=item.item_id) }}" onsubmit="return confirm('Remove {{ item.item_name }} from list')"></form>
{% endfor %}
{% endblock  %}