{% extends "index.html" %}
{% block body %}
<h1>{{ current_list.list_name }}</h1>
<form action="{{ url_for('list_route', list_id=list_id) }}" method="post">
<table border="1">
    <tr align="center">
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Catergorisation</th>
        <th>tick</th>
        <th></th>
    </tr>
    {% for item in list %}
    <tr>
        <td>{{ item.item_name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.catergorisation }}
        </td>
        <td><input name="ticked" type="checkbox" {% if item.ticked %}checked{% endif %}></td>
        <td><input type="button" value="edit"></td>
    </tr>
    {% endfor %}
    <tr align="center">
        <td>
            <input name="item_name" list="food">
            <datalist id="food">
            <option value="apple">
            <option value="pineapple">
        </td>
        <td><input type="number" name="quantity" value="1"></td>
        <td>
            <input list="food-type" name="catergorisation">
            <datalist id="food-type">
            <option value="fruit">
            <option value="dairy">
        </td>
        <td><input type="checkbox" disabled></td>
        <td><input type="button" value="edit"></td>
    </tr>
</table>
<input type="submit" value="save">
</form>
{% endblock  %}