{% extends "index.html" %}
{% block body %}
<div class="login">
    <h2>Login</h2>
    <form method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" maxlength="20"><br>
        <lable for="password">Password:</lable><br>
        <input type="password" id="password" name="password" maxlength="20"><br>
        <p style="color: red;">{{ error }}</p>      
        <input type="submit" value="Submit" style="height: 30px; width: 160px;">
    </form>
</div>
{% endblock  %}