{% extends "index.html" %}
{% block body %}
<h1>My Lists</h1>
<table border="1">
    <tr>
        <th>list_name</th>
        <th>items total</th>
        <th>items gotten</th>
        <th>items not gotten</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
    {% for contents in list %}
    <tr>
        <td>{{ contents.list_name }}</td>
        <td>{{ contents.total_items }}</td>
        <td>{{ contents.items_gotten }}</td>
        <td>{{ contents.items_not_gotten }}</td>
        <td><a href="{{ url_for('list_route', list_id=contents.list_id)}}" style="font-size: medium;">EDIT</a></td>
        <td><form>
            <input type="button" value="DELETE">
        </form></td>
    </tr>
    {% endfor %}
</table>
{% endblock  %}