{% extends "index.html" %}
{% block body %}
<h2>My Lists</h2>
<section class="list-table">
    <div class="list-column">
        <h3>list_name</h3>
        {% for name in list %}
        <h4>{{ name[1] }}</h4>
        {% endfor %}
    </div>
    <div class="list-column">
        <h3>items total</h3>
        {% for item in list %}
        <h4>{{ item[2] }}</h4>
        {% endfor %}
    </div>
    <div class="list-column">
        <h3>items gotten</h3>
        {% for item in list %}
        <h4>{{ item[2] - item[7] }}</h4>
        {% endfor %}
    </div>
    <div class="list-column">
        <h3>items not gotten</h3>
        {% for item in list %}
        <h4>{{ item[2] }}</h4>
        {% endfor %}
    </div>
    <div class="list-column">
        <h3>EDIT</h3>
        {% for items in list %}
        <h3><a href="{{ url_for('list')}}" style="font-size: medium;">EDIT</a></h3>
        {% endfor %}
    </div>
    <div class="list-column">
        <h3>DELETE</h3>
        {% for items in list %}
        <form>
            <input type="button" value="DELETE" style="margin-bottom: 18.72px; width: 60%;">
        </form>
        {% endfor %}
    </div>
</section>
<table class="list-table">
    <tr>
        <th>list_name</th>
        <th>items total</th>
        <th>items gotten</th>
        <th>items not gotten</th>
        <th>EDIT</th>
        <th>DELETE</th>
    </tr>
</table>
{% endblock  %}