{% extends "index.html" %}
{% block body %}
<div class="login">
    <h2>Sign Up</h2>
    <form method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" maxlength="20"><br>
        <lable for="password">Password:</lable><br>
        <input type="password" id="password" name="password" maxlength="20"><br>
        <p style="color: red; font-size: 24px;">{{ error }}</p>
        <a href="{{ url_for('login')}}" style="font-size: 16px;">Login</a><br>      
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock  %}